{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/login.css' %}">
    <title>Acceso Usuario</title>
</head>
<body>
    <div class="login-box">
        <h2>Acceso</h2>
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="user-box">
            <input type="text" name="username"  required>
            <label>Nombre De Usuario</label>
          </div>
          <div class="user-box">
            <input type="password" name="password"  required>
            <label>Contraseña</label>
          </div>
          <button type="submit" name="submit">Entrar</button>
          <a href="{% url 'loginAd' %}" class="radio">
          
            
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Admin
          </a>
          <a href="{% url 'RUsuario' %}" class="radio">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Registrate
          </a>
          {% if error_message %}
          <div class="error">{{ error_message }}</div>
          {% endif %}
        </form>
      </div>
</body>
</html>
