{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/loginAdmin.css' %}">
    <title>Login Admin</title>
</head>
<body>
    <form class="login" method="POST" action="{% url 'login_admin'%}">
        {% csrf_token %}
        <input type="text" placeholder="Nombre De Usuario" name="username">
        <input type="password" placeholder="Contraseña" name="password">
        <button>Entrar</button>
        <a href="{% url 'ViAdm' %}" target="_blank">Ingresar vendedor</a>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>
      
      
      <a href="{% url 'inicio' %}" target="_blank">Volver Al Menu Usuario</a>
</body>
</html>