{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/loginAdmin.css' %}">
    <title>Login Admin</title>
</head>
<body>
    <form class="login">
        <input type="text" placeholder="Nombre De Usuario">
        <input type="password" placeholder="Contraseña">
        <button>Entrar</button>
        <a href="{% url 'ViAdm' %}" target="_blank">Ingresar vendedor</a>

      </form>
      
      <a href="{% url 'inicio' %}" target="_blank">Volver Al Menu Usuario</a>
</body>
</html>