{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static './css/PVendedores.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading" id="panel">
          <div class="left">
            <h3 class="panel-title">Administrador</h3>
          </div>
          <div class="right">
            <a class="volver" href="{% url 'Dsh' %}"id="letter">Panel</a>
          </div>
        </div>
      </div>
      
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>E-Mail</th>
            <th>Teléfono</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>johndoe@example.com</td>
            <td>555-1234</td>
          </tr>
          <tr>
            <td>Jane</td>
            <td>Doe</td>
            <td>janedoe@example.com</td>
            <td>555-5678</td>
          </tr>
        </tbody>
      </table>

     
      
</body>
</html>