{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/EstiloAdmin1.css' %}">
    <title>Document</title>
</head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <body  ng-controller="myCtrl">
  
  
    <div class="panel panel-primary" >
      <div class="panel-heading"  id="panel">
        <h3 class="panel-title">Administrador</h3>
      </div>

      <div class="panel-body">
  
        <form>
  
          <div class="row">
  
            <div class="col-md-12">
              <h3>Ingreso nuevo vendedor</h3>
            </div>
  <!-- Modificar Modelos -->
            <div class="form-group col-md-4">
              <input type="text" class="form-control" placeholder="Nombre" ng-model="pessoa.nome"/>
            </div>
  
            <div class="form-group col-md-4">
              <input type="text" class="form-control" placeholder="Apellido" ng-model="pessoa.sobrenome"/>
            </div>
            
            <div class="form-group col-md-4">
              <input type="text" class="form-control" placeholder="Rut" ng-model="pessoa.sobrenome"/>
            </div>
  
            <div class="form-group col-md-4">
              <input type="text" class="form-control" placeholder="E-mail" ng-model="pessoa.email"/>
            </div>
  
            <div class="form-group col-md-4" >
              <input type="text" class="form-control" placeholder="Telefono" ng-model="pessoa.telefone"/>
            </div>
  
            <div class="col-md-12">
              <h3>Direccion </h3>
            </div>
  
            <div class="form-group col-md-4">
              <input type="text" class="form-control" placeholder="Calle/Av" ng-model="pessoa.endereco.rua"/>
            </div>
  
            <div class="form-group col-md-2">
              <input type="text" class="form-control" placeholder="Numero" ng-model="pessoa.endereco.numero"/>
            </div>
  
            <div class="form-group col-md-3">
              <input type="text" class="form-control" placeholder="Comuna" ng-model="pessoa.endereco.complemento"/>
            </div>
  
            <div class="form-group col-md-4">
              <input type="text" class="form-control" placeholder="Villa" ng-model="pessoa.endereco.bairro"/>
            </div>
  
            <div class="form-group col-md-4">
              <input type="text" class="form-control" placeholder="Ciudad" ng-model="pessoa.endereco.cidade"/>
            </div>
            <div class="form-group col-md-5">
      
            </div>

            <section>
              <div class="row">
      
                <div class="form-group col-md-1">
                  <button type="button" class="btn btn-success form-control" ng-click=salvar()>Guardar</button>
                </div>
                <div class="form-group col-md-1">
                  <button type="button" class="btn btn-warning form-control" ng-click=limpar()>Editar</button>
                </div>
                <div class="form-group col-md-1">
                  <button type="button" id="btn-guardar" class="btn btn-info form-control" href="home.html">Eliminar</button>
              </div>
            </section>
  
      <form>
  
        <div class="row">
        
          <div class="table-responsive col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>E-Mail</th>
                  <th>Telefono</th>
                </tr>
              </thead>
              <tbody>
                <!-- Modificar Junto AL modelo -->
                <tr ng-repeat="pessoa in cadastradas">
                  <td>{{pessoa.nome}}</td>
                  <td>{{pessoa.Apellido}}</td>
                  <td>{{pessoa.email}}</td>
                  <td>{{pessoa.telefone}}</td>
               </tr>
              </tbody>
            </table>
  
          </div>
        </div>
      </form>
  
    </div>
  </body>

</html>